body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section{
height: 800px;
width: 100%;
background-image: url(/public/pizza.jpg);

background-size:cover;
background-repeat: no-repeat;
}




.h1{
  text-shadow: 1px 2px 2px rgb(249, 249, 249);
  font-weight: bolder;
  
  font-size:50px;
  color: rgb(255, 255, 255);
  
}


.wave-text{
    text-shadow: 5px 5px 5px rgb(249, 249, 249);
  
  font-weight: bolder;
       margin-top: 200px;
    margin-left: 600px; 
}

.wave-text span {
    color: white;

    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 0.10s;
}
.wave-text span:nth-child(7) {
    animation-delay: 0.12s;
}
.wave-text span:nth-child(8) {
    animation-delay: 0.14s;
}


@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.h2{
  color: white;
  font-size: medium;
  
  animation-name: move;
  /* font-family:cursive; */
  margin-left: 450px;
  animation-duration:2s;
  animation-delay: 0.1s;
  /* animation-timing-function:ease-in-out; */
  animation-fill-mode: forwards;
}

@keyframes move {
  0%{
    margin-top: 50px;
   filter: blur(10px);
  }



  100%{
    margin-top: 0px;
  }
  
}
.Recipe{
    text-shadow: 1px 2px 2px rgb(249, 249, 249);
  font-weight: bolder;
  
  font-size:50px;
  color: rgb(255, 255, 255);

}





